extends ../../layouts/default.pug
include ../../mixins/filterStatus.pug
include ../../mixins/search.pug
include ../../mixins/pagination.pug
include ../../mixins/trash.pug
include ../../mixins/changeMulti.pug
block main
  h1 
    i(class="bi bi-door-open")
    span Nhóm quyền
  .row
    .col-auto.pe-1
      a(href=`${prefixAdmin}/dashboard` class="bi bi-house text-dark")
    .col-auto.p-0
      p - Quyền hệ thống
    .col-auto.ps-1
      a(href=`${prefixAdmin}/roles`) - Nhóm quyền
  .card.mb-3
    .card-header 
      p.fs-5 Bảng quyền hệ thống
      .card-body.p-0
        .row
          .col-6
            +filter(filterStatus)
            a(
              href=`${prefixAdmin}/roles/create`
            ) 
              button(class="btn btn-sm btn-outline-success") + Thêm mới
          .col-3
            +search(keyword)
        .row.mt-2
          .col-6
            +form-change-multi(`${prefixAdmin}/roles/change-multi?_method=PATCH`)
      if(roles.length > 0)
        .card-body.p-1
          table(class="table table-hover table-sm" checkbox-multi)
            thead
              tr
                th 
                  input(class="form-check-input" type="checkbox" name="checkAll")
                th(class="text-center") STT
                th Tên quyền
                th(class="text-center") Trạng thái
                th Hành động

            tbody
              each item, index in roles
                tr 
                  td 
                    input(
                      class="form-check-input"
                      type="checkbox"
                      name="check-item"
                      value=item.id
                    )
                  td(class="text-center")
                    a(href="#" 
                      class="badge" 
                      data-status=item.status
                      data-id=item.id
                      link-change-status
                    ) 
                      if(item.status == "active")
                        i(class="bi bi-circle-fill text-success")
                      else
                        i(class="bi bi-circle-fill text-secondary")
                  td
                    a(class="btn btn-primary btn-sm" 
                      href=`${prefixAdmin}/roles/detail/${item.id}`
                    )
                      i(class="bi bi-eye-fill")
                    a(class="btn btn-warning btn-sm mx-1" 
                      href=`${prefixAdmin}/roles/edit/${item.id}`
                    )
                      i(class="bi bi-pencil-square")
                    button(class="btn btn-danger btn-sm" 
                      data-id=item.id 
                      button-delete
                    )
                      i(class="bi bi-trash")
      else
        p.text-center Chưa có quyền nào!
    -var link = `roles`;
    .d-flex.align-items-center.justify-content-between
      //- +pagination(pagination)
      +trash(link)

  form(
    action=""
    method="POST"
    id="form-change-status"
    data-path=`${prefixAdmin}/roles/change-status`
  ) 
  form(
    action=""
    method="POST"
    id="form-delete-record"
    data-path=`${prefixAdmin}/roles/delete`
  )