extends ../../layouts/default

block main
  .row.p-0
    .col-2.p-0
      a(
        href="javascript:history.back()"
        class="btn me-0"
      ) 
        i(class="bi bi-box-arrow-in-left") Trang trước
  .row.bg-light.p-2.me-0
    .col-5.img--product.p-0
      .row
        if (product.thumbnail)
          img(
            class="w-80 h-100 p-0 d-block"
            src=product.thumbnail
          )
    .col-7.info--product
      .row
        if (product.title)
          h1(class="mb-3") #{product.title}
      .row
        .col-md-6
          if (product.price)
            div(class="mb-3") Giá cũ: <b>#{product.price}$</b>
          if (product.discountPercentage)
            div(class="mb-3") Giảm giá: <b class="text-danger">#{product.discountPercentage}%</b>
          if (product.priceNew)
            div(class="mb-3") Giá mới: <b class="text-danger">#{product.priceNew} </b>
          if (product.stock)
            div(class="mb-3") Còn lại: <b>#{product.stock}</b>
      .row
        .col-md-6
          if (product.status)
            div(class="mb-3")
              span Trạng thái:
              if (product.status === "active")
                span(class="text-success ms-1 fw-bolder") Hoạt động
              else
                span(class="text-danger ms-1 fw-bolder") Dừng hoạt động

      .row
        .col-md-12
          if (product.description)
            div(class="mb-3") 
              textarea.form-control.textarea-mce(
                id="desc"
                name="description"
                rows="6"
                class="w-100"
              ) #{product.description}
      .row
        .col-md-4
          a(
            href=`${prefixAdmin}/products/edit/${product.id}`
            class="btn btn-warning mb-2"
          ) Chỉnh sửa
